HUBHOOK_PORT=8000
SLACK_TOKEN='xoxb-'
WEBHOOK_SECRET=''
SENTRY_DSN=''
# team メンションを展開するための token (省略可, #286)
# 未設定なら team メンションは展開されない
GITHUB_TOKEN=''
# ログのレベルとフィルタ (省略可, 既定は info)
# 例: RUST_LOG='hubhook=debug'
RUST_LOG=''
